input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }

h2{
  font-family: 'Anton', sans-serif;
}
h3{
  font-family: 'Source Serif Pro', serif;
}
h4{
  font-family: 'Exo 2', sans-serif 
}
h5{
  font-family: 'Fjalla One', sans-serif;
}
h1{
  font-family: 'Kanit', sans-serif; 
}