<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Anton|Exo+2|Fjalla+One|Kanit|Source+Serif+Pro|Titillium+Web&display=swap" rel="stylesheet">


<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Notable Events Weather And Sports</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="index.html">Categories</a></li>
                    <li></li>

                </ul>
            </div>
            <div class="container">
                    <form>
                        <input type="text" name="article_query" placeholder="Search for an Article" class="form-control">
                        <input type="submit"  value="Submit" class="btn btn-default">
                    </form>
                
                </div>
        </div>
    </div>